@charset "UTF-8";
/* 모바일용 CSS */
/* 기본CSS */
#wrap {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    /* flex-direction: column;
    flex-wrap: nowrap; */
    flex-flow: column nowrap;
}

/* 인포메이션  영역 css */
.info_section {
    order: 1;
    width: 100%;
    background-color: #2ecc71;
    border-bottom: 1px solid #39d67c;
}

.info_list {
    display: flex;
}

.info_list li {
    width: 25%;
    text-align: center;
    /* border: 1px solid black; */
}

.info_list li a {
    display: block;
    padding: 15px 0;
    padding: 0.938rem 0;
}

/* 헤더영역 CSS */

.header {
    order: 2;
    width: 100%;
    position: relative;
}

.logo {
    width: 100%;
    padding: 30px 0;
    padding: 1.875rem 0;
    background-color: #2ecc71;
    text-align: center;
    color: white;
    font-size: 20px;
    font-size: 1.25rem;
    text-shadow: 0px 1px 1px #25ab5e;
    line-height: 25px;
    line-height: 1.5625rem;
    text-transform: uppercase;
}

.nav {
    width: 100%;
}

.gnb {
    display: none;
    /* transition: all 0.3s; */
}

/* .gnb.on{
    display: block;
} */

.gnb li {
    background-color: #2c3e50;
    display: flex;
}

.gnb li a {
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-size: 0.938rem;

    padding: 20px 0;
    padding: 1.25rem 0;

    text-indent: 20px;
    text-indent: 1.25rem;
}

.gnb li span {
    width: 20%;
    text-indent: -99999px;
    background: url("../images/s_images/sub_menu_toggle_btn.png") no-repeat center center;
    cursor: pointer;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/s_images/menu_toggle_btn.png") no-repeat;
    text-indent: -99999px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* 서브 해더 영역  */
.sub_header_section {
    width: 100%;
    order: 3;
    background-color: #219af7;
    padding: 50px 0;
    text-align: center;
}

.sub_header_section h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
}

.flat_list {}

.flat_list li {
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

/* content_section 영역 CSS */
.content_section{
    order: 4;
    background: white;
    padding: 20px;
    /* border: 1px solid blue; */
}

.border_table{
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.border_table  caption{
    display: none;
    /* position: absolute;
    width: 1px;height: 1px;
    top: -99999px;
    left: -99999px;
    overflow: hidden; */
}

.border_table  thead{
    color: white;
    background: #2c3e50;
}

.border_table  thead tr th{
    padding: 18px 0;
}

.border_table tbody tr td{
    padding: 22px 0;
}

.border_table  tbody tr:nth-child(odd){
    background-color: #f6f6f6;
}

.border_table thead tr th:first-child,
.border_table thead tr th:nth-child(3),
.border_table thead tr th:nth-child(4),
.border_table tbody tr td:first-child,
.border_table tbody tr td:nth-child(3),
.border_table tbody tr td:nth-child(4){
    display: none;
}

/* cont_02  영역 css */

.cont_02{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px 0;
}

.search_win{
    width: 118px;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
}

.search_select_box{
    display: none;
}

.write_box{}
.write_box a{
    display: block;
    width: 70px;
    height: 30px;
    background: #e65d5d;
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 14px;
}

/* cont_03 영역 */
.cont_03{
display: flex;
justify-content: center;
}

.cont_03 span{
    width: 28px;
    height: 28px;
    text-indent: -9999px;
}
.cont_03 span.list_prev_btn{
    background: #25ab5e url("../images/s_images/list_prev_btn.png") no-repeat center center;
    margin-right: 10px;

}
.cont_03 span.list_next_btn{
    background: #25ab5e url("../images/s_images/list_next_btn.png") no-repeat center center;
    margin-left: 10px;
}

.cont_03 a{
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #219af7;
    color: #219af7;
    transition: all 0.3s;
}
.cont_03 a:hover{
    background: #219af7;
    color: white;
}

.cont_03 a:nth-of-type(2){
    margin: 0 10px;
}

/* 푸터 영역  */

.footer {
    order: 5;
    width: 100%;
    background: #474747;
}

.footer p {
    padding: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 1px 1px #191919;
    font-weight: bold;
    text-transform: uppercase;
}

/* 태블릿용 CSS */
@media screen and (min-width:768px){
    /* 기본CSS */

 #wrap {
    flex-flow: row wrap;
}

/* 헤더영역 CSS */

.header {}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    z-index: 10;
}

.nav {
    min-height: 80px;
    background: #2ecc71;
    position: relative;
}

.gnb {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
}

.menu_toggle_btn {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

/* 서브 해더 영역  */

/* content_section 영역 */
.content_section{
    padding: 40px;
    /* border: 1px solid black; */
    width: 100%;
}
.border_table thead tr th:first-child,
.border_table thead tr th:nth-child(3),
.border_table thead tr th:nth-child(4),
.border_table tbody tr td:first-child,
.border_table tbody tr td:nth-child(3),
.border_table tbody tr td:nth-child(4){
    display: table-cell;
}
.border_table thead tr th:nth-child(1){
    width: 10%;
}
.border_table thead tr th:nth-child(2){
    width: 65%;
}
.border_table thead tr th:nth-child(3){
    width: 15%;
}
.border_table thead tr th:nth-child(4){
    width: 10%;
}
.border_table tbody tr td:nth-child(2){
    text-align: left;
}




/* cont_02  영역 css */
.search_select_box{
    display: inline-block;
    position: relative;
}

.search_select_box span{
    display: block;
    width: 80px;
    height: 30px;
    background: #e65d5d;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.search_select_list{
    display: none;
    position: absolute;
    left: 0;
    top: 105%;
    width: 100%;
}

.search_select_list li{
    background-color: #e65d5d;
    color: white;
    padding: 6px 0;
    text-indent: 10px;
    font-size: 13px;
    cursor: pointer;
}


.footer p {
    padding: 40px 0;
}

}/* 768px */

/* 데스크탑 CSS */
@media screen and (min-width:960px){
/* 기본CSS */
#wrap {
    width: 90%;
    position: relative;
}

/* 인포메이션  영역 css */

.info_section {
    position: absolute;
    top: 30px;
    right: 30px;
    order: 0;
    z-index: 30;
    width: auto;
    border-bottom: 0;
}

.info_list li {
    width: auto;
    margin-left: 15px;
}

.info_list li a {
    padding: 0;
}

/* 헤더영역 CSS */

.header {
    order: 1;
    display: flex;
    justify-content: flex-end;
    position: static;
}

.logo {
    width: 15%;
}

.nav {
    width: 85%;
    display: flex;
    position: static;
    align-items: center;
}

.gnb {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    position: static;
}

.gnb li {
    background-color: transparent !important;
    display: block;
    margin-left: 5%;
}

.gnb li a {
    width: auto;
    padding: 0;
    text-indent: 0;
}

.gnb li span {
    display: none;
}

.menu_toggle_btn {
    display: none;
}

/* 서브 해더 영역  */

.sub_header_section{
    order: 2;

}

/* content_section영역 */
.content_section {
    order:3;
    padding: 60px ;

}


}/* 960px */







