@charset "utf-8";

/* 모바일용 CSS */
/* 기본CSS */

#wrap {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    /* flex-direction: column;
    flex-wrap: nowrap; */
    flex-flow: column nowrap;
}

/* 인포메이션  영역 css */
.info_section {
    order: 1;
    width: 100%;
    background-color: #2ecc71;
    border-bottom: 1px solid #39d67c;
}

.info_list {
    display: flex;
}

.info_list li {
    width: 25%;
    text-align: center;
    /* border: 1px solid black; */
}

.info_list li a {
    display: block;
    padding: 15px 0;
    padding: 0.938rem 0;
}

/* 헤더영역 CSS */

.header {
    order: 2;
    width: 100%;
    position: relative;
}

.logo {
    width: 100%;
    padding: 30px 0;
    padding: 1.875rem 0;
    background-color: #2ecc71;
    text-align: center;
    color: white;
    font-size: 20px;
    font-size: 1.25rem;
    text-shadow: 0px 1px 1px #25ab5e;
    line-height: 25px;
    line-height: 1.5625rem;
    text-transform: uppercase;
}

.nav {
    width: 100%;
}

.gnb {
    display: none;
    /* transition: all 0.3s; */
}

/* .gnb.on{
    display: block;
} */

.gnb li {
    background-color: #2c3e50;
    display: flex;
}

.gnb li a {
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-size: 0.938rem;

    padding: 20px 0;
    padding: 1.25rem 0;

    text-indent: 20px;
    text-indent: 1.25rem;
}

.gnb li span {
    width: 20%;
    text-indent: -99999px;
    background: url("../images/s_images/sub_menu_toggle_btn.png") no-repeat center center;
    cursor: pointer;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/s_images/menu_toggle_btn.png") no-repeat;
    text-indent: -99999px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* 슬라이드 영역 CSS*/

.slider_section {
    order: 3;
    width: 100%;
    height: 300px;
    background: url("../images/p_images/slider_01.jpg") no-repeat center center;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.slider_section span {
    width: 34px;
    height: 39px;
    text-indent: -9999px;
    cursor: pointer;
    background: url("../images/s_images/slider_arrow.png") no-repeat;
}

span.prev_btn {
    margin-left: -10px;
}

span.next_btn {
    margin-right: -10px;
    background-position: -34px 0;
}

/* 최근글 영역 CSS 인기글 영역 CSS */

.last_post_section {
    order: 4;
    /* width: 100%; */
    background: #ffc40f;
    text-shadow: 0px 1px 1px #b98e0b;
    color: white;
}

.popular_post_section {
    order: 5;
    /* width: 100%; */
    background-color: #a660c2;
    text-shadow: 0px 1px 1px #714185;
    color: white;
}

.last_post_section,
.popular_post_section {
    padding: 40px 12.5%;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: white;
}

.last_post li,
.popular_post li {
    margin-top: 15px;
    /* list-style: circle; */
    background: url("../images/s_images/post_circle_icon.png") no-repeat left center;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.last_post li:first-child,
.popular_post li:first-child {
    margin-top: 0 !important;
}

/* 갤러리 영역  CSS */

.gallery_section {
    order: 6;
    padding: 50px 12.5%;
    text-align: center;
    background-color: #ef5d5d;
    text-shadow: 0px 1px 1px #c43434;
    color: white;
}

.gallery_section img {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #c43434;
}

.gallery_list li:last-child {
    margin-top: 30px;
}

.gallery_list li figcaption {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* 인기 검색어 영역 CSS */
.rankup_section {
    order: 7;
    padding: 40px 12.5%;
    background-color: #219af7;
    text-shadow: 0px 1px 1px #1974ba;
    color: white;
}

.rankup_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rankup_list li {
    width: 48%;
    margin-top: 15px;
}

.rankup_list li:nth-child(1),
.rankup_list li:nth-child(2) {
    margin-top: 0 !important;
}

.rankup_list li a {
    display: block;
    border: 1px solid white;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

/* 배너 영역 */

.banner_section {
    order: 8;
}

.banner_box01 {
    background: #e6567a;
}

.banner_box01 a {
    display: block;
    padding: 30px 0;
    text-align: center;
}


.banner_box02 {
    background: #c44968;
}

.banner_list {
    display: flex;
    justify-content: space-between;
    padding: 30px 12.5%;
}


/* sns 영역 CSS */

.sns_section {
    order: 9;
    background: #fff;
    padding: 30px 12.5%;

}

.sns_list {
    display: flex;
    justify-content: space-between;
}

/* footer 영역 */
.footer {
    order: 10;
    width: 100%;
    background: #474747;
}

.footer p {
    padding: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 1px 1px #191919;
    font-weight: bold;
    text-transform: uppercase;
}

/* 테블릿용 CSS  768 */
@media screen and (min-width:768px) {
    /* 기본CSS */

    #wrap {
        flex-flow: row wrap;
    }

    /* 헤더영역 CSS */

    .header {}

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 16%;
        z-index: 10;
    }

    .nav {
        min-height: 80px;
        background: #2ecc71;
        position: relative;
    }

    .gnb {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
    }

    .menu_toggle_btn {
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }


    /* 슬라이드 영역 CSS*/
    .slider_section {
        width: 60%;
        height: auto;
    }

    .slider_section span {
        position: relative;
        z-index: 10;
    }


    /* 최근글 영역 CSS 인기글 영역 CSS */
    .last_post_section {
        order: 5;
        width: 40%;

    }

    .popular_post_section {
        order: 6;
        width: 40%;
    }

    .last_post_section,
    .popular_post_section {
        padding: 40px 5%;
    }


    /* 갤러리 영역  CSS */
    .gallery_section {
        order: 8;
        width: 70%;
        padding: 50px 5%;
    }

    .gallery_list {
        display: flex;
        justify-content: space-between;
    }

    .gallery_list li {
        width: 47%;
    }

    .gallery_list li:last-child {
        margin: 0;
    }


    /* 인기 검색어 영역 CSS */

    .rankup_section {
        order: 4;
        width: 40%;
        padding: 40px 5%;
    }





    /* 배너 영역 */

    .banner_section {
        order: 9;
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .banner_section>div {
        flex: 1;
    }

    .banner_box01 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner_box01 a {
        /* border: 1px solid blue; */
        display: inline;
        padding: 0;
    }

    .banner_box02 {
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_list {
        /* border: 1px solid black; */
        padding: 0;
    }

    .banner_list li:nth-child(2) {
        margin: 0 15px;
    }

    /* sns 영역 CSS */
    .sns_section {
        order: 7;
        width: 20%;
        padding: 30px 5%;
        /* border: 1px solid red; */
    }

    .sns_list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid blue */
    }

    .sns_list li:nth-child(2) {
        margin: 25px 0;
    }


    /* footer 영역 */
    .footer p {
        padding: 40px 0;
    }

}

/* min-width:768px */


/* PC CSS  768 */
@media screen and (min-width:960px) {

    /* 기본CSS */
    #wrap {
        width: 90%;
        position: relative;
    }

    /* 인포메이션  영역 css */

    .info_section {
        position: absolute;
        top: 30px;
        right: 30px;
        order: 0;
        z-index: 30;
        width: auto;
        border-bottom: 0;
    }

    .info_list li {
        width: auto;
        margin-left: 15px;
    }

    .info_list li a {
        padding: 0;
    }

    /* 헤더영역 CSS */

    .header {
        order: 1;
        display: flex;
        justify-content: flex-end;
        position: static;
    }

    .logo {
        width: 15%;
    }

    .nav {
        width: 85%;
        display: flex;
        position: static;
        align-items: center;
    }

    .gnb {
        display: flex !important;
        flex-direction: row;
        width: 100%;
        position: static;
    }

    .gnb li {
        background-color: transparent !important;
        display: block;
        margin-left: 5%;
    }

    .gnb li a {
        width: auto;
        padding: 0;
        text-indent: 0;
    }

    .gnb li span {
        display: none;
    }

    .menu_toggle_btn {
        display: none;
    }

    /* 슬라이드 영역 CSS*/

    .slider_section {
        order: 2;
        width: 50%;
    }

    /* 최근글 영역 CSS 인기글 영역 CSS */

    .last_post_section {
        order: 5;
        width: 30%;
    }

    .popular_post_section {
        order: 6;
        width: 30%;
    }


    /* 갤러리 영역  CSS */
    .gallery_section {
        order: 3;
        width: 30%;
        padding: 20px 5%;
    }

    .gallery_list {
        display: block;
        /* border: 1px solid black; */
    }

    .gallery_list li {
        width: auto;
        /* border: 1px solid red; */
    }

    .gallery_list li:last-child {
        margin: 20px 0 0;
    }

    /* 인기 검색어 영역 CSS */

    .rankup_section {
        order: 4;
        width: 20%;
        padding: 40px 5% 0;
        /* border: 1px solid red; */
    }

    .rankup_list {
        display: block;
        /* border: 1px solid black */
    }

    .rankup_list li {
        width: auto;
        list-style: decimal;

    }

    .rankup_list li:nth-child(1),
    .rankup_list li:nth-child(2) {
        margin-top: 15px !important;
    }

    .rankup_list li a {
        border: none;
        display: inline;
    }

    /* 배너 영역 */

    .banner_section {
        order: 7;
        width: 25%;
    }
        /* sns 영역 CSS */

        .sns_section {
            order: 8;
            width: 15%;
        }


        /* footer 영역 */

        .footer {
            order: 9;
        }
        .footer p{
            text-align: left;
            padding: 40px 20px;
        }



    }

    /* min-width:960px */